-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: blsi-ph.com    Database: dms_open
-- ------------------------------------------------------
-- Server version	10.6.24-MariaDB-cll-lve

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Assign Subdepartment`
--

DROP TABLE IF EXISTS `Assign Subdepartment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Assign Subdepartment` (
  `LinkID` varchar(255) NOT NULL,
  `DepartmentID` int(11) NOT NULL,
  `SubDepartmentID` int(11) NOT NULL,
  `UserID` int(11) NOT NULL,
  `Active` tinyint(1) NOT NULL,
  `CreatedBy` varchar(255) DEFAULT NULL,
  `CreatedDate` datetime NOT NULL,
  PRIMARY KEY (`LinkID`),
  KEY `DepartmentID` (`DepartmentID`),
  KEY `SubDepartmentID` (`SubDepartmentID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `AttachmentModel`
--

DROP TABLE IF EXISTS `AttachmentModel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `AttachmentModel` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) NOT NULL,
  `DataImage` longblob DEFAULT NULL,
  `DataName` varchar(255) DEFAULT NULL,
  `DataType` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `BarangayModel`
--

DROP TABLE IF EXISTS `BarangayModel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `BarangayModel` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Name` varchar(255) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(255) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(255) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `CollaborationNotifications`
--

DROP TABLE IF EXISTS `CollaborationNotifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `CollaborationNotifications` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `DocumentID` bigint(20) NOT NULL,
  `UserID` bigint(20) NOT NULL,
  `Type` enum('comment','mention','version','finalization','collaborator_added') NOT NULL,
  `Title` varchar(255) NOT NULL,
  `Message` text NOT NULL,
  `IsRead` tinyint(1) DEFAULT 0,
  `CreatedDate` timestamp NOT NULL DEFAULT current_timestamp(),
  `RelatedCommentID` bigint(20) DEFAULT NULL,
  `RelatedVersionID` bigint(20) DEFAULT NULL,
  `RelatedUserID` bigint(20) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`ID`),
  KEY `UserID` (`UserID`),
  KEY `RelatedCommentID` (`RelatedCommentID`),
  KEY `RelatedVersionID` (`RelatedVersionID`),
  KEY `RelatedUserID` (`RelatedUserID`),
  KEY `idx_collaboration_notifications_document_user` (`DocumentID`,`UserID`),
  KEY `idx_collaboration_notifications_type` (`Type`),
  KEY `idx_collaboration_notifications_created_date` (`CreatedDate`),
  CONSTRAINT `CollaborationNotifications_ibfk_1` FOREIGN KEY (`DocumentID`) REFERENCES `Documents` (`ID`),
  CONSTRAINT `CollaborationNotifications_ibfk_2` FOREIGN KEY (`UserID`) REFERENCES `Users` (`ID`),
  CONSTRAINT `CollaborationNotifications_ibfk_3` FOREIGN KEY (`RelatedCommentID`) REFERENCES `DocumentComments` (`ID`),
  CONSTRAINT `CollaborationNotifications_ibfk_4` FOREIGN KEY (`RelatedVersionID`) REFERENCES `DocumentVersions` (`ID`),
  CONSTRAINT `CollaborationNotifications_ibfk_5` FOREIGN KEY (`RelatedUserID`) REFERENCES `Users` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `CollaboratorActivities`
--

DROP TABLE IF EXISTS `CollaboratorActivities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `CollaboratorActivities` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `DocumentID` bigint(20) NOT NULL,
  `LinkID` varchar(255) NOT NULL,
  `CollaboratorID` bigint(20) NOT NULL,
  `DocumentCollaborationID` bigint(20) DEFAULT NULL,
  `ActivityType` varchar(255) NOT NULL,
  `ActivityDate` datetime NOT NULL,
  `Duration` int(11) DEFAULT NULL,
  `PageViewed` int(11) DEFAULT NULL,
  `ActivityDetails` text DEFAULT NULL,
  `IPAddress` varchar(255) DEFAULT NULL,
  `DeviceInfo` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `CollaboratorActivities_ibfk_3` (`DocumentID`),
  KEY `CollaboratorActivities_ibfk_4` (`DocumentCollaborationID`),
  CONSTRAINT `CollaboratorActivities_ibfk_3` FOREIGN KEY (`DocumentID`) REFERENCES `Documents` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `CollaboratorActivities_ibfk_4` FOREIGN KEY (`DocumentCollaborationID`) REFERENCES `DocumentCollaborations` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=26600 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `DepartmentModel`
--

DROP TABLE IF EXISTS `DepartmentModel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `DepartmentModel` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `Code` varchar(255) DEFAULT NULL,
  `Name` varchar(255) DEFAULT NULL,
  `Active` tinyint(1) NOT NULL,
  `CreatedBy` varchar(255) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(255) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `idx_department_name` (`Name`),
  KEY `idx_department_code` (`Code`),
  KEY `idx_department_active` (`Active`),
  KEY `idx_department_created_date` (`CreatedDate`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `DocumentAccess`
--

DROP TABLE IF EXISTS `DocumentAccess`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `DocumentAccess` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `LinkID` varchar(255) NOT NULL,
  `UserID` bigint(20) NOT NULL,
  `View` tinyint(1) NOT NULL,
  `Add` tinyint(1) NOT NULL,
  `Edit` tinyint(1) NOT NULL,
  `Delete` tinyint(1) NOT NULL,
  `Print` tinyint(1) NOT NULL,
  `Confidential` tinyint(1) NOT NULL,
  `Comment` tinyint(4) NOT NULL DEFAULT 0,
  `Collaborate` tinyint(4) NOT NULL DEFAULT 0,
  `Finalize` tinyint(4) NOT NULL DEFAULT 0,
  `Masking` tinyint(4) NOT NULL DEFAULT 0,
  `Active` tinyint(1) NOT NULL,
  `CreatedBy` varchar(255) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `fields` text NOT NULL,
  PRIMARY KEY (`id`),
  KEY `DocumentAccess_ibfk_1` (`UserID`),
  CONSTRAINT `DocumentAccess_ibfk_1` FOREIGN KEY (`UserID`) REFERENCES `Users` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `DocumentApprovalTracking`
--

DROP TABLE IF EXISTS `DocumentApprovalTracking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `DocumentApprovalTracking` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `DocumentID` bigint(20) NOT NULL,
  `LinkID` varchar(255) NOT NULL,
  `DepartmentId` bigint(20) NOT NULL,
  `SubDepartmentId` bigint(20) NOT NULL,
  `CurrentLevel` int(11) NOT NULL DEFAULT 1,
  `TotalLevels` int(11) NOT NULL,
  `AllorMajority` varchar(50) NOT NULL DEFAULT 'MAJORITY',
  `FinalStatus` varchar(50) DEFAULT 'PENDING',
  `LevelsCompleted` int(11) DEFAULT 0,
  `CreatedDate` datetime DEFAULT current_timestamp(),
  `UpdatedDate` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`ID`),
  KEY `idx_tracking_doc` (`DocumentID`),
  KEY `idx_tracking_link` (`LinkID`),
  KEY `idx_tracking_dept` (`DepartmentId`,`SubDepartmentId`),
  KEY `idx_tracking_status` (`FinalStatus`),
  KEY `idx_tracking_docid_linkid` (`DocumentID`,`LinkID`),
  KEY `idx_tracking_linkid` (`LinkID`)
) ENGINE=InnoDB AUTO_INCREMENT=120 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `DocumentApprovals`
--

DROP TABLE IF EXISTS `DocumentApprovals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `DocumentApprovals` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `DocumentID` bigint(20) NOT NULL,
  `LinkID` varchar(255) NOT NULL,
  `RequestedBy` varchar(255) NOT NULL,
  `RequestedDate` datetime NOT NULL,
  `ApproverID` varchar(255) NOT NULL,
  `ApproverName` varchar(255) NOT NULL,
  `SequenceLevel` int(11) NOT NULL DEFAULT 1,
  `IsCancelled` tinyint(1) DEFAULT 0,
  `Stage` int(11) DEFAULT NULL,
  `Status` varchar(255) NOT NULL,
  `Priority` varchar(50) DEFAULT NULL,
  `DueDate` datetime DEFAULT NULL,
  `ApprovalDate` datetime DEFAULT NULL,
  `Comments` text DEFAULT NULL,
  `RejectionReason` text DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `DocumentApprovals_ibfk_1` (`DocumentID`),
  KEY `idx_approvals_doc_level` (`DocumentID`,`LinkID`,`SequenceLevel`,`Status`),
  KEY `idx_approvals_linkid_requested` (`LinkID`,`RequestedBy`),
  KEY `idx_approvals_linkid` (`LinkID`),
  CONSTRAINT `DocumentApprovals_ibfk_1` FOREIGN KEY (`DocumentID`) REFERENCES `Documents` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=179 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `DocumentApprovers`
--

DROP TABLE IF EXISTS `DocumentApprovers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `DocumentApprovers` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `DepartmentId` bigint(20) NOT NULL,
  `SubDepartmentId` bigint(20) NOT NULL,
  `SequenceLevel` int(11) NOT NULL DEFAULT 1,
  `Active` tinyint(1) DEFAULT 1,
  `ApproverID` varchar(255) NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `idx_approvers_dept_subdept_level` (`DepartmentId`,`SubDepartmentId`,`SequenceLevel`,`Active`),
  KEY `idx_approvers_dept_subdept` (`DepartmentId`,`SubDepartmentId`,`Active`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `DocumentAuditTrail`
--

DROP TABLE IF EXISTS `DocumentAuditTrail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `DocumentAuditTrail` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `DocumentID` bigint(20) NOT NULL,
  `LinkID` varchar(255) NOT NULL,
  `Action` varchar(255) DEFAULT NULL,
  `ActionBy` bigint(20) NOT NULL,
  `ActionDate` datetime NOT NULL,
  `OldValues` text DEFAULT NULL,
  `NewValues` text DEFAULT NULL,
  `ChangedFields` text DEFAULT NULL,
  `IPAddress` varchar(255) DEFAULT NULL,
  `UserAgent` varchar(255) DEFAULT NULL,
  `SessionID` varchar(255) DEFAULT NULL,
  `AdditionalData` text DEFAULT NULL,
  `Description` text DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `document_audit_trail__document_i_d__action_date` (`DocumentID`,`ActionDate`),
  KEY `document_audit_trail__action_by__action_date` (`ActionBy`,`ActionDate`),
  KEY `idx_audittrail_linkid_date` (`LinkID`,`ActionDate`),
  CONSTRAINT `DocumentAuditTrail_ibfk_3` FOREIGN KEY (`DocumentID`) REFERENCES `Documents` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `DocumentAuditTrail_ibfk_4` FOREIGN KEY (`ActionBy`) REFERENCES `Users` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6419 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `DocumentCollaborations`
--

DROP TABLE IF EXISTS `DocumentCollaborations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `DocumentCollaborations` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `DocumentID` bigint(20) NOT NULL,
  `LinkID` varchar(255) NOT NULL,
  `CollaboratorID` bigint(20) NOT NULL,
  `CollaboratorName` varchar(255) NOT NULL,
  `PermissionLevel` varchar(255) NOT NULL,
  `AddedBy` varchar(255) NOT NULL,
  `AddedDate` datetime NOT NULL,
  `LastActivity` datetime DEFAULT NULL,
  `Active` tinyint(1) NOT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `document_collaborations__document_i_d__collaborator_i_d` (`DocumentID`,`CollaboratorID`),
  KEY `DocumentCollaborations_ibfk_4` (`CollaboratorID`),
  KEY `idx_collaborations_linkid` (`LinkID`,`Active`),
  CONSTRAINT `DocumentCollaborations_ibfk_3` FOREIGN KEY (`DocumentID`) REFERENCES `Documents` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `DocumentCollaborations_ibfk_4` FOREIGN KEY (`CollaboratorID`) REFERENCES `Users` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=246 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `DocumentComments`
--

DROP TABLE IF EXISTS `DocumentComments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `DocumentComments` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `DocumentID` bigint(20) NOT NULL,
  `CollaboratorID` bigint(20) NOT NULL,
  `CollaboratorName` varchar(255) NOT NULL,
  `Comment` text NOT NULL,
  `CommentType` varchar(255) DEFAULT NULL,
  `ParentCommentID` bigint(20) DEFAULT NULL,
  `LinkID` varchar(255) NOT NULL,
  `PageNumber` int(11) DEFAULT NULL,
  `Position` text DEFAULT NULL,
  `CommentDate` datetime NOT NULL,
  `IsResolved` tinyint(1) DEFAULT NULL,
  `ResolvedBy` varchar(255) DEFAULT NULL,
  `ResolvedDate` datetime DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `IsEdited` tinyint(1) DEFAULT 0,
  `EditedDate` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `Status` varchar(20) DEFAULT 'pending',
  PRIMARY KEY (`ID`),
  KEY `ParentCommentID` (`ParentCommentID`),
  KEY `DocumentComments_ibfk_4` (`DocumentID`),
  KEY `DocumentComments_ibfk_5` (`CollaboratorID`),
  KEY `idx_document_comments_status` (`Status`),
  KEY `idx_comments_linkid_date` (`LinkID`,`CommentDate`),
  CONSTRAINT `DocumentComments_ibfk_4` FOREIGN KEY (`DocumentID`) REFERENCES `Documents` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `DocumentComments_ibfk_5` FOREIGN KEY (`CollaboratorID`) REFERENCES `Users` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `DocumentComments_ibfk_6` FOREIGN KEY (`ParentCommentID`) REFERENCES `DocumentComments` (`ID`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `DocumentRestrictions`
--

DROP TABLE IF EXISTS `DocumentRestrictions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `DocumentRestrictions` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `DocumentID` bigint(20) NOT NULL,
  `LinkID` varchar(255) NOT NULL,
  `UserID` varchar(255) DEFAULT NULL,
  `UserRole` varchar(255) DEFAULT NULL,
  `restrictionType` enum('field','open') NOT NULL DEFAULT 'field',
  `Field` varchar(255) DEFAULT NULL,
  `xaxis` varchar(50) DEFAULT NULL,
  `yaxis` varchar(50) DEFAULT NULL,
  `width` varchar(50) DEFAULT NULL,
  `height` varchar(50) DEFAULT NULL,
  `CreatedBy` varchar(255) NOT NULL,
  `CreatedDate` datetime NOT NULL,
  `Reason` text DEFAULT NULL,
  `pageNumber` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `document_restrictions__document_i_d__user_i_d` (`DocumentID`,`UserID`),
  KEY `document_restrictions__document_i_d__user_role` (`DocumentID`,`UserRole`),
  KEY `idx_restrictions_userid_linkid` (`UserID`,`LinkID`),
  KEY `idx_restrictions_linkid_field` (`LinkID`,`Field`),
  CONSTRAINT `DocumentRestrictions_ibfk_1` FOREIGN KEY (`DocumentID`) REFERENCES `Documents` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `DocumentType`
--

DROP TABLE IF EXISTS `DocumentType`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `DocumentType` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Type` varchar(255) NOT NULL,
  `Code` varchar(255) NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `DocumentVersions`
--

DROP TABLE IF EXISTS `DocumentVersions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `DocumentVersions` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `DocumentID` bigint(20) NOT NULL,
  `LinkID` varchar(255) NOT NULL,
  `VersionNumber` varchar(255) NOT NULL,
  `ModificationDate` datetime NOT NULL,
  `ModifiedBy` varchar(255) NOT NULL,
  `Changes` text DEFAULT NULL,
  `IsCurrentVersion` tinyint(1) DEFAULT 0,
  `Active` tinyint(1) DEFAULT 1,
  `Description` text DEFAULT NULL,
  `FileSize` bigint(20) DEFAULT NULL,
  `FileType` varchar(50) DEFAULT NULL,
  `IsFinalized` tinyint(1) DEFAULT 0,
  `FinalizedDate` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `FinalizedBy` varchar(100) DEFAULT NULL,
  `FinalizationReason` text DEFAULT NULL,
  `ModifiedByID` bigint(20) DEFAULT NULL,
  `Filepath` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `idx_document_versions_finalized` (`IsFinalized`),
  KEY `idx_document_versions_current` (`IsCurrentVersion`),
  KEY `idx_versions_linkid_moddate` (`LinkID`,`ModificationDate`),
  KEY `idx_versions_linkid` (`LinkID`),
  KEY `idx_versions_filepath` (`Filepath`(255))
) ENGINE=InnoDB AUTO_INCREMENT=408 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Documents`
--

DROP TABLE IF EXISTS `Documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Documents` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` varchar(255) NOT NULL,
  `DepartmentId` bigint(20) NOT NULL,
  `SubDepartmentId` bigint(20) NOT NULL,
  `DataImage` longblob DEFAULT NULL,
  `DataName` varchar(255) DEFAULT NULL,
  `DataType` varchar(255) DEFAULT NULL,
  `FileName` varchar(255) DEFAULT NULL,
  `FileDescription` varchar(255) DEFAULT NULL,
  `Description` varchar(255) DEFAULT NULL,
  `FileDate` datetime DEFAULT NULL,
  `Text1` varchar(255) DEFAULT NULL,
  `Date1` datetime DEFAULT NULL,
  `Text2` varchar(255) DEFAULT NULL,
  `Date2` datetime DEFAULT NULL,
  `Text3` varchar(255) DEFAULT NULL,
  `Date3` datetime DEFAULT NULL,
  `Text4` varchar(255) DEFAULT NULL,
  `Date4` datetime DEFAULT NULL,
  `Text5` varchar(255) DEFAULT NULL,
  `Date5` datetime DEFAULT NULL,
  `Text6` varchar(255) DEFAULT NULL,
  `Date6` datetime DEFAULT NULL,
  `Text7` varchar(255) DEFAULT NULL,
  `Date7` datetime DEFAULT NULL,
  `Text8` varchar(255) DEFAULT NULL,
  `Date8` datetime DEFAULT NULL,
  `Text9` varchar(255) DEFAULT NULL,
  `Date9` datetime DEFAULT NULL,
  `Text10` varchar(255) DEFAULT NULL,
  `Date10` datetime DEFAULT NULL,
  `Expiration` tinyint(1) DEFAULT NULL,
  `ExpirationDate` datetime DEFAULT NULL,
  `Confidential` tinyint(1) DEFAULT NULL,
  `PageCount` int(11) DEFAULT NULL,
  `Remarks` varchar(255) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `Createdby` varchar(255) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `publishing_status` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `idx_documents_active_created` (`Active`,`CreatedDate`),
  KEY `idx_documents_search` (`Active`,`DataName`,`FileName`,`Remarks`),
  KEY `idx_documents_dept_subdept` (`DepartmentId`,`SubDepartmentId`,`Active`),
  KEY `idx_documents_linkid` (`LinkID`,`Active`)
) ENGINE=InnoDB AUTO_INCREMENT=188 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Fields`
--

DROP TABLE IF EXISTS `Fields`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Fields` (
  `LinkID` bigint(20) NOT NULL,
  `FieldNumber` smallint(6) NOT NULL,
  `Active` tinyint(1) NOT NULL,
  `FieldID` smallint(6) NOT NULL DEFAULT 0,
  `Description` varchar(255) DEFAULT NULL,
  `DataType` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `LGU`
--

DROP TABLE IF EXISTS `LGU`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `LGU` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Logo` blob DEFAULT NULL,
  `Code` varchar(255) DEFAULT NULL,
  `Name` varchar(255) DEFAULT NULL,
  `TIN` varchar(255) DEFAULT NULL,
  `RDO` varchar(255) DEFAULT NULL,
  `PhoneNumber` varchar(255) DEFAULT NULL,
  `EmailAddress` varchar(255) DEFAULT NULL,
  `Website` varchar(255) DEFAULT NULL,
  `StreetAddress` varchar(255) DEFAULT NULL,
  `BarangayID` bigint(20) DEFAULT NULL,
  `MunicipalityID` bigint(20) DEFAULT NULL,
  `RegionID` bigint(20) DEFAULT NULL,
  `ZipCode` varchar(255) DEFAULT NULL,
  `CreatedBy` varchar(255) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(255) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Module Access`
--

DROP TABLE IF EXISTS `Module Access`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Module Access` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `UAID` bigint(20) NOT NULL,
  `ModuleID` bigint(20) NOT NULL,
  `View` tinyint(1) NOT NULL,
  `Add` tinyint(1) NOT NULL,
  `Edit` tinyint(1) NOT NULL,
  `Delete` tinyint(1) NOT NULL,
  `Print` tinyint(1) NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `UAID` (`UAID`),
  KEY `Module Access_ibfk_4` (`ModuleID`),
  CONSTRAINT `Module Access_ibfk_3` FOREIGN KEY (`UAID`) REFERENCES `UserAccess` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Module Access_ibfk_4` FOREIGN KEY (`ModuleID`) REFERENCES `Modules` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=520 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Modules`
--

DROP TABLE IF EXISTS `Modules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Modules` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Municipality`
--

DROP TABLE IF EXISTS `Municipality`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Municipality` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Name` varchar(255) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(255) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(255) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Notifications`
--

DROP TABLE IF EXISTS `Notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Notifications` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `UserID` int(11) NOT NULL,
  `Title` varchar(255) NOT NULL,
  `Message` text NOT NULL,
  `Type` varchar(50) NOT NULL,
  `Link` varchar(500) DEFAULT NULL,
  `IsRead` tinyint(1) DEFAULT 0,
  `CreatedAt` datetime DEFAULT NULL,
  `CreatedBy` int(11) DEFAULT NULL,
  `Metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`Metadata`)),
  PRIMARY KEY (`ID`),
  KEY `IX_Notifications_UserID_IsRead` (`UserID`,`IsRead`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `OCRDocumentReadFields`
--

DROP TABLE IF EXISTS `OCRDocumentReadFields`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `OCRDocumentReadFields` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Field` varchar(255) NOT NULL,
  `Value` varchar(255) NOT NULL,
  `DocumentID` varchar(255) NOT NULL,
  `LinkId` varchar(255) NOT NULL,
  `template_id` bigint(20) NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `idx_ocrfields_linkid` (`LinkId`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `OCRavalibleFields`
--

DROP TABLE IF EXISTS `OCRavalibleFields`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `OCRavalibleFields` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Field` varchar(255) NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Region`
--

DROP TABLE IF EXISTS `Region`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Region` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Name` varchar(255) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(255) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(255) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `RoleDocumentAccess`
--

DROP TABLE IF EXISTS `RoleDocumentAccess`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `RoleDocumentAccess` (
  `LinkID` varchar(255) NOT NULL,
  `UserAccessID` bigint(20) NOT NULL,
  `View` tinyint(1) NOT NULL DEFAULT 0,
  `Add` tinyint(1) NOT NULL DEFAULT 0,
  `Edit` tinyint(1) NOT NULL DEFAULT 0,
  `Delete` tinyint(1) NOT NULL DEFAULT 0,
  `Print` tinyint(1) NOT NULL DEFAULT 0,
  `Confidential` tinyint(1) NOT NULL DEFAULT 0,
  `Comment` tinyint(1) NOT NULL DEFAULT 0,
  `Collaborate` tinyint(1) NOT NULL DEFAULT 0,
  `Finalize` tinyint(1) NOT NULL DEFAULT 0,
  `Masking` tinyint(1) NOT NULL DEFAULT 0,
  `Active` tinyint(1) NOT NULL DEFAULT 1,
  `CreatedBy` varchar(255) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT current_timestamp(),
  `fields` text DEFAULT NULL,
  PRIMARY KEY (`LinkID`,`UserAccessID`),
  KEY `idx_UserAccessID` (`UserAccessID`),
  KEY `idx_LinkID` (`LinkID`),
  KEY `idx_Active` (`Active`),
  CONSTRAINT `fk_RoleDocumentAccess_UserAccess` FOREIGN KEY (`UserAccessID`) REFERENCES `UserAccess` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `SubDepartment`
--

DROP TABLE IF EXISTS `SubDepartment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `SubDepartment` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `Code` varchar(255) DEFAULT NULL,
  `Name` varchar(255) DEFAULT NULL,
  `Active` tinyint(1) NOT NULL,
  `CreatedBy` varchar(255) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(255) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `DepartmentID` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `DepartmentID` (`DepartmentID`),
  KEY `idx_subdepartment_department_id` (`DepartmentID`),
  CONSTRAINT `SubDepartment_ibfk_1` FOREIGN KEY (`DepartmentID`) REFERENCES `DepartmentModel` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Templates`
--

DROP TABLE IF EXISTS `Templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Templates` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `departmentId` int(11) NOT NULL,
  `subDepartmentId` int(11) NOT NULL,
  `imageWidth` int(11) NOT NULL,
  `imageHeight` int(11) NOT NULL,
  `samplePdfPath` varchar(255) DEFAULT NULL,
  `header` varchar(255) DEFAULT NULL,
  `fields` text NOT NULL,
  `Active` tinyint(4) NOT NULL DEFAULT 1,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `departmentId` (`departmentId`),
  KEY `subDepartmentId` (`subDepartmentId`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Unrecorded`
--

DROP TABLE IF EXISTS `Unrecorded`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Unrecorded` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `departmentId` int(11) NOT NULL,
  `subDepartmentId` int(11) NOT NULL,
  `filePath` varchar(255) NOT NULL,
  `errorMessage` text NOT NULL,
  `originalName` varchar(255) DEFAULT NULL,
  `uploadedAt` datetime NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `UserAccess`
--

DROP TABLE IF EXISTS `UserAccess`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `UserAccess` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Description` varchar(255) DEFAULT NULL,
  `Active` tinyint(1) NOT NULL,
  `Createdby` varchar(255) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `UserUserAccess`
--

DROP TABLE IF EXISTS `UserUserAccess`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `UserUserAccess` (
  `UserID` bigint(20) NOT NULL,
  `UserAccessID` bigint(20) NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`UserID`,`UserAccessID`),
  UNIQUE KEY `UserUserAccess_UserID_UserAccessID_unique` (`UserID`,`UserAccessID`),
  KEY `UserAccessID` (`UserAccessID`),
  CONSTRAINT `UserUserAccess_ibfk_1` FOREIGN KEY (`UserID`) REFERENCES `Users` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `UserUserAccess_ibfk_2` FOREIGN KEY (`UserAccessID`) REFERENCES `UserAccess` (`ID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `Users`
--

DROP TABLE IF EXISTS `Users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Users` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `EmployeeID` bigint(20) DEFAULT NULL,
  `UserName` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `Password` varchar(255) DEFAULT NULL,
  `UserAccessID` bigint(20) DEFAULT NULL,
  `userAccessArray` text NOT NULL,
  `Active` tinyint(1) NOT NULL,
  `CreatedBy` varchar(255) DEFAULT NULL,
  `CreatedDate` datetime NOT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `approvalmatrix`
--

DROP TABLE IF EXISTS `approvalmatrix`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `approvalmatrix` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `DepartmentId` bigint(20) NOT NULL,
  `subDepID` int(11) DEFAULT NULL,
  `SequenceLevel` int(11) DEFAULT NULL,
  `AllorMajority` varchar(150) DEFAULT NULL,
  `NumberofApprover` int(11) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(250) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `AlteredBy` varchar(250) DEFAULT NULL,
  `AlteredDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  KEY `idx_approvalmatrix_dept_subdept` (`DepartmentId`,`subDepID`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `approvalmatrix_approvers`
--

DROP TABLE IF EXISTS `approvalmatrix_approvers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `approvalmatrix_approvers` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `MatrixID` bigint(20) NOT NULL,
  `ApproverType` varchar(10) NOT NULL,
  `ApproverValueId` varchar(255) NOT NULL,
  `AmountFrom` decimal(18,2) DEFAULT NULL,
  `AmountTo` decimal(18,2) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`ID`),
  KEY `idx_matrix` (`MatrixID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `audit_activities`
--

DROP TABLE IF EXISTS `audit_activities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_activities` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `action` varchar(100) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  `user_name` varchar(255) NOT NULL,
  `document_id` bigint(20) DEFAULT NULL,
  `document_name` varchar(255) DEFAULT NULL,
  `details` text DEFAULT NULL,
  `metadata` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata`)),
  `timestamp` datetime NOT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`ID`),
  KEY `audit_activities_document_id_timestamp` (`document_id`,`timestamp`),
  KEY `audit_activities_user_id_timestamp` (`user_id`,`timestamp`),
  KEY `audit_activities_action_timestamp` (`action`,`timestamp`),
  CONSTRAINT `audit_activities_ibfk_2` FOREIGN KEY (`document_id`) REFERENCES `Documents` (`ID`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2472 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-15 14:34:27
